
{% set group = post.meta('implementation') %}

<section id="implementation" class="bg-secondary mb-10 py-10">

<div class="container">

<div class="grid grid-cols-2 gap-x-20">

{% for item in group.block %}

<div class="flex flex-col text-center lg:px-10">

<div><i class="fa {{ item.icon }} text-teal-400 text-3xl" aria-hidden="true"></i></div>

<h4 class="text-teal-400 text-xl my-4"> {{ item.title }}</h4>

<p class="text-white">{{ item.description }}</p>

</div>

{% endfor %}

</div>

</div>
</section>