
{% set group = post.meta('implementation') %}

<section id="implementation" class="bg-[#001846] pt-16 pb-12">

<div class="container mx-auto">

<div class="grid lg:grid-cols-2 gap-y-10 lg:gap-x-20">

{% for item in group.block %}

<div class="flex flex-col text-center px-8 lg:px-10" data-aos="fade-up" data-aos-duration="1500">

<div><img src="{{ item.icon }}" class="h-[50px] w-[50px] pointer-events-none block mx-auto" at="" ></div>

<h4 class="text-teal-400 text-xl lg:text-2xl my-4"> {{ item.title }}</h4>

<p class="text-white">{{ item.description }}</p>

</div>

{% endfor %}

</div>

</div>

<img src="{{group.background_image}}}" class="hidden lg:block w-full object-cover" alt="" />
 
</section>

