@import "./fonts/gotham/gotham.css";
@import "./fonts/futura/futura.css";
@import "./home.scss";
@import "./accodion.scss";
@import "./form.scss";
@import "./btn.scss";

body {
  @apply font-futura;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-gotham font-bold;
}

strong {
  @apply font-bold;
}

p {
  @apply mb-6;
}

.small_title {
  @apply font-medium text-primary after:relative mb-3 block text-lg;

  &:after {
    @apply w-[50px] h-[3px] bg-primary inline-block rounded-lg ml-2 top-[-3px];
  }
}

/** NAV */

#primary-nav {
  ul {
    @apply list-none flex;
    li {
      @apply mr-4 xl:mr-10;

      &:first-child {
        @apply lg:hidden;
      }

      &.current-menu-item {
        a {
          @apply text-primary;
        }
      }

      a {
        @apply hover:text-primary text-secondary transition-colors font-medium xl:text-lg text-[15px];
      }
    }
  }
}

/** ENTITIES CIRCLE */

.entities_circles {
  @apply relative;
  .item {
    @apply absolute flex items-center justify-center border-2 border-dashed rounded-full h-[100px] lg:h-[150px] w-[100px] lg:w-[150px] bg-white transition-transform hover:scale-110;

    img {
      @apply max-h-[40px] max-w-[90px] lg:max-w-[110px] lg:w-auto object-cover;
    }

    &:nth-child(1) {
      @apply lg:-top-[90px] -top-[60px] right-1/4;
    }

    &:nth-child(2) {
      @apply top-[100px] lg:-right-[50px] -right-[25px];
    }

    &:nth-child(3) {
      @apply lg:top-[300px] lg:bottom-0 -bottom-[20px] right-0 lg:-right-[50px];
    }

    &:nth-child(4) {
      @apply lg:top-[350px] lg:left-0 lg:-right-0 lg:bottom-0 -bottom-[15px];
    }

    &:nth-child(5) {
      @apply lg:top-[100px] lg:left-[-50px];
    }
  }
}

/* BANNER TITLE */

.banner-title {
  @apply bg-secondary text-white py-20 lg:py-32;

  h1 {
    @apply text-3xl lg:text-4xl leading-[3rem];

    span {
      @apply text-teal-400;
    }
  }
}

.spinner {
  @apply inline-block w-[25px] h-[25px];

  &:after {
    content: "";
    @apply block w-[25px] h-[25px] rounded-full border-4;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
