{% extends "base.twig" %}
{% block content %}

<div class="container my-16 text-center">

<h1 class="text-red-600 text-8xl font-bold mb-3">404</h1>

<h2 class="text-red-600 text-2xl lg:text-4xl font-bold mb-3">Page introuvable !</h2>

<a href="{{ site.url }}" class="px-4 py-2 bg-primary rounded-full text-white">Revenir à la page d'accueil</a>



</div>

{% endblock %}