{% set group = post.meta('career') %}

<section class="lg:my-16 relative">

<div class="container mx-auto">

<div class="flex flex-col-reverse lg:flex-row items-center justify-around">

<div class="lg-mt-0 mt-10">

<img src="{{ group.image }}" class="relative lg:-left-0 left-[-50px]" alt="" />

</div>

<div class="lg:pl-32">

<span class="small_title">{{ group.small_title }}</span>

<h2 class="font-bold text-2xl lg:text-3xl mb-4">{{ group.title }}</h2>

<p class="text-lg mb-0">{{ group.description }} </p>

</div>

</div>

</div>

</section>