<div id="modal" class="modal" role="dialog">

<div class="modal-dialog centered">

<div class="modal-content">

<div class="modal-header">

<div>

<h3 class="font-gotham text-2xl" id="job_title"></h3>

<ul class="list-none flex mt-3">

<li id="entity" class="after:h-2 after:w-2 after:mx-4 after:bg-teal-400 after:rounded-full after:inline-block"></li>

<li id="location" class="after:h-2 after:w-2 after:mx-4 after:bg-teal-400 after:rounded-full after:inline-block"></li>

<li id="time"></li>

</ul>

</div>

<button class="close border border-red-600 text-red-600 hover:bg-red-600 hover:text-white rounded-full h-[30px] w-[30px]" aria-label="Close">
<i class="fa fa-times" aria-hidden="true"></i>
</button>

</div>

<div class="modal-body">

<form class="mt-6">

<div class="grid lg:grid-cols-2 gap-x-10 gap-y-6">

<div class="form-floating">

<input class="form-control" id="last_name" name="last_name" type="text" placeholder="Nom" />

<label for="last_name">Nom</label>

</div>

<div class="form-floating">

<input class="form-control" id="first_name" name="first_name" type="text" placeholder="Prénom" />

<label for="first_name">Prénom</label>

</div>

<div class="form-floating">

<input class="form-control" id="email" name="email" type="email" placeholder="email" />

<label for="email">Email</label>

</div>

<div class="form-floating">

<input class="form-control" id="phone" name="phone" type="text" placeholder="phone" />

<label for="phone">Numéro de téléphone</label>

</div>
</div>

<button type="submit" class="table mx-auto bg-primary rounded-full py-3 px-6 text-white hover:opacity-80">Envoyer votre candidature</button>

</form>

</div>


</div>
</div>
</div>