
<div id="job_modal" class="modal" role="dialog">

<div class="modal-dialog centered">

<div class="modal-content">

<div class="modal-header">

<div>

<h3 class="font-gotham text-2xl job_title"></h3>

<ul class="list-none flex mt-3">

<li class="entity after:h-2 after:w-2 after:mx-4 after:bg-teal-400 after:rounded-full after:inline-block"></li>

<li class="location after:h-2 after:w-2 after:mx-4 after:bg-teal-400 after:rounded-full after:inline-block"></li>

<li class="time"></li>

</ul>

</div>

<button class="close border border-red-600 text-red-600 hover:bg-red-600 hover:text-white rounded-full h-[30px] w-[30px]" aria-label="Close">
<i class="fa fa-times" aria-hidden="true"></i>
</button>

</div>

<div class="modal-body">

<!-- success message -->

<div id="success_message" style="display: none">
<h2 class="text-2xl text-green-700 text-center">Votre candidature a été envoyée</h2>
</div>

<!-- success message -->

<form id="job_application" class="mt-6" method="post" data-action="{{ post.link }}" autocomplete="off" data-turbo="false">

<div class="grid lg:grid-cols-2 gap-x-10 gap-y-6">

<div class="form-floating">

<input class="form-control" id="last_name" name="last_name" type="text" placeholder="Nom" />

<label for="last_name">Nom</label>

</div>

<div class="form-floating">

<input class="form-control" id="first_name" name="first_name" type="text" placeholder="Prénom" />

<label for="first_name">Prénom</label>

</div>

<div class="form-floating">

<input class="form-control" id="email" name="email" type="email" placeholder="email" />

<label for="email">Email</label>

</div>

<div class="form-floating">

<input class="form-control" id="phone" name="phone" type="text" placeholder="phone" />

<label for="phone">Numéro de téléphone</label>

</div>
</div> <!-- /.grid -->

<div>

<input id="file" type="file" class="form-control hidden opacity-0" accept="application/pdf, image/*" />

<label for="file" class="border border-dashed border-gray-300 bg-[#F8FBFF] flex flex-col px-6 py-6 justify-center items-center">

<span class="mb-2"><i class="fa fa-upload text-xl text-primary"></i></span>

<span class="font-medium font-gotham text-lg text-primary">Attachez votre CV</span>

<div class="mt-3 text-sm flex flex-col items-center">

<span>La taille du fichier ne doit pas dépasser 10 Mo.</span>

<span>Fichier supporté PDF, DOC</span>

</div>

</label>

</div>

<input type="hidden" name="job" class="job_title" />

<input type="hidden" class="entity" name="entity" />

<button type="submit" class="flex items-center mt-5 mx-auto border text-white bg-primary transition-all rounded-full py-2 px-6 hover:opacity-60 disabled:bg-opacity-50">
<span class="spinner flex mr-3" style="display:none"></span>
<span>Envoyer votre candidature</span>
</button>

</form>

</div>


</div>
</div>
</div>