{% set gallery = post.meta("images") %}

<section>

<div class="grid grid-cols-1 lg:grid-cols-4" id="gallery">

{% for image in gallery %}

<a href="{{ image }}" class="{% if loop.last %}lg:col-span-2{% endif %}">

<img src="{{ image }}" class="w-full h-[250px] lg:h-[300px] object-cover pointer-events-none border-r-2 border-white" alt="" />

</a>

{% endfor %}

</div>

</section>