{% set gallery = post.meta("images") %}

<section id="gallery">

<div class="grid grid-cols-1 lg:grid-cols-4">

{% for image in gallery %}

<img src="{{ image }}" class="w-full h-[250px] lg:h-[300px] object-cover pointer-events-none border-r-2 border-white {% if loop.last %}lg:col-span-2{% endif %}" alt="" />

{% endfor %}

</div>

</section>