{% set group = post.meta('intro') %}

<section id="intro">

<div class="container mx-auto md:max-w-[1300px]">

<div class="bg-white shadow py-12 px-6 lg:px-10 rounded-xl relative overflow-hidden top-[-50px]">

<div class="lg:w-2/3">

<h2 class="font-bold text-2xl lg:text-3xl mb-4 lg:pr-0 pr-[110px] font-futura lg:font-gotham">{{ group.title }}</h2>

<p class="lg:text-lg mb-0">{{ group.description }} </p>

</div>

<img data-src="{{ group.image }}" class="lazy-image hidden lg:block absolute top-0 right-0 h-[100%] pointer-events-none w-[300px]" alt="" />

<img data-src="{{ group.mobile_image }}" class="lazy-image lg:hidden absolute top-0 right-0 h-[150px] pointer-events-none w-[130px]" alt="" />

</div>

</div>

</section>